.main-slider {
  margin-bottom: $gutter*3;
  overflow: hidden;
  padding-bottom: 50px;
  &__wrap {
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
  }
  &:not(.slick-initialized) {
    width: 100000px;
  }
  &__item {
    float: left;
  }
}