//** Colors
$base-color: #444140;
$primary-color: #3abd93;
$secondary-color: #4baecd;
$attention-color: #d41137;
$bg-color: #f0f1f3;
$light-color: #fff;

//** Body
$gutter: 20px;
$body-bg: $bg-color;
$border-radius-base: 10px;
$text-color: $base-color;

//** Links
$link-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

//** Typography
$font-family-base: Arial, sans-serif !default;
$font-family-heading: Arial, sans-serif !default;

$font-size-base: 16px !default;

//** Buttons
$btn-border-width: 2px;
$btn-font-size: $font-size-base;
$btn-height: 40px;
$btn-padding: 0 $gutter;


//** Forms
$input-bg-color: #fff;
$input-border-width: 2px;
$input-border-color: $base-color;
$input-height: 40px;
$input-padding: 0 $gutter;
$textarea-height: 160px;
$input-placeholder-color: $base-color;
$input-checkbox-size: 20px;

//** Tables
$th-bg-color: $bg-color;
$td-bg-color: transparent;
$td-brd-color: $bg-color;
$td-padding: $gutter/2 $gutter;
