.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
}

.main-center {
  flex: 1 0 auto;
}

.main-header {

}

.main-footer {

}

.layout-main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}