.icon-arrow {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-email {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-facebook {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-instagram {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-ok {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-phone {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-point {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-search {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-twitter {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-vk {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
